# c++ files
src/ExampleModels.cpp
src/ExampleModels.h
src/RCRstarterfile.cpp
src/example.cpp
src/wack.cpp

# binary files
src/*.so

# misc
src/test.py
**/.vscode/
**/src/RCR
**__pycache__
/docs/build
/docs/source
src/sphinx_test.py
